Repository vaibhav-blitzy/pro-project-2-0ak6n0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @task-manager/backend-team, @task-manager/frontend-team, @task-manager/security-team, @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/src/backend/task-service/pom.xml
  src/backend/task-service/pom.xml
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/src/backend/task-service/src/main/java/com/taskmanager/task/TaskApplication.java
  src/backend/task-service/src/main/java/com/taskmanager/task/TaskApplication.java
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/task-service/src/main/java/com/taskmanager/task/config/WebSocketConfig.java
  src/backend/task-service/src/main/java/com/taskmanager/task/config/WebSocketConfig.java
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/task-service/src/main/java/com/taskmanager/task/controllers/TaskController.java
  src/backend/task-service/src/main/java/com/taskmanager/task/controllers/TaskController.java
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/task-service/src/main/java/com/taskmanager/task/dto/TaskDTO.java
  src/backend/task-service/src/main/java/com/taskmanager/task/dto/TaskDTO.java
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/task-service/src/main/java/com/taskmanager/task/entities/Task.java
  src/backend/task-service/src/main/java/com/taskmanager/task/entities/Task.java
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/task-service/src/main/java/com/taskmanager/task/repositories/TaskRepository.java
  src/backend/task-service/src/main/java/com/taskmanager/task/repositories/TaskRepository.java
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/task-service/src/main/java/com/taskmanager/task/services/TaskService.java
  src/backend/task-service/src/main/java/com/taskmanager/task/services/TaskService.java
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/task-service/src/main/resources/application.yml
  src/backend/task-service/src/main/resources/application.yml
Owners: @task-manager/devops-team, @task-manager/security-team

Add public-samples/pro-project-2-0ak6n0/src/backend/task-service/src/main/resources/db/migration/V1__init.sql
  src/backend/task-service/src/main/resources/db/migration/V1__init.sql
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/test/.env.test
  src/test/.env.test
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/README.md
  src/test/README.md
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/cypress.config.ts
  src/test/cypress.config.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/docker-compose.test.yml
  src/test/docker-compose.test.yml
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/jest.config.ts
  src/test/jest.config.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/k6.config.ts
  src/test/k6.config.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/package.json
  src/test/package.json
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/tsconfig.json
  src/test/tsconfig.json
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/api/auth.test.ts
  src/test/api/auth.test.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/api/notifications.test.ts
  src/test/api/notifications.test.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/api/projects.test.ts
  src/test/api/projects.test.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/api/search.test.ts
  src/test/api/search.test.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/api/tasks.test.ts
  src/test/api/tasks.test.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/api/websocket.test.ts
  src/test/api/websocket.test.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/e2e/fixtures/projects.json
  src/test/e2e/fixtures/projects.json
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/e2e/fixtures/tasks.json
  src/test/e2e/fixtures/tasks.json
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/e2e/fixtures/users.json
  src/test/e2e/fixtures/users.json
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/e2e/specs/accessibility.spec.ts
  src/test/e2e/specs/accessibility.spec.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/e2e/specs/auth.spec.ts
  src/test/e2e/specs/auth.spec.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/e2e/specs/dashboard.spec.ts
  src/test/e2e/specs/dashboard.spec.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/e2e/specs/notifications.spec.ts
  src/test/e2e/specs/notifications.spec.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/e2e/specs/projects.spec.ts
  src/test/e2e/specs/projects.spec.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/e2e/specs/responsive.spec.ts
  src/test/e2e/specs/responsive.spec.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/e2e/specs/search.spec.ts
  src/test/e2e/specs/search.spec.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/e2e/specs/tasks.spec.ts
  src/test/e2e/specs/tasks.spec.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/e2e/support/commands.ts
  src/test/e2e/support/commands.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/e2e/support/index.ts
  src/test/e2e/support/index.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/integration/auth-service.test.ts
  src/test/integration/auth-service.test.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/integration/cache.test.ts
  src/test/integration/cache.test.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/integration/database.test.ts
  src/test/integration/database.test.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

.github/CODEOWNERS:

# Task Management System CODEOWNERS file
# Defines code ownership and required review patterns with enhanced security controls
# Version: 1.0.0

# Default owners for everything in the repo
# Requires at least 2 reviewers for any changes
* @task-manager/backend-team @task-manager/frontend-team

# Backend service implementations
/src/backend/ @task-manager/backend-team
/src/backend/shared/ @task-manager/backend-team

# Authentication service requires both backend and security team review
/src/backend/auth-service/ @task-manager/backend-team @task-manager/security-team

# Frontend React application
/src/web/ @task-manager/frontend-team
/src/web/src/components/ @task-manager/frontend-team

# Infrastructure and deployment configurations
/infrastructure/ @task-manager/devops-team
/infrastructure/security/ @task-manager/devops-team @task-manager/security-team
/src/backend/k8s/ @task-manager/devops-team

# Security-related configurations and tests
/src/test/security/ @task-manager/security-team
/infrastructure/security/waf/ @task-manager/security-team
/infrastructure/security/network-policies/ @task-manager/security-team

# CI/CD workflow configurations
/.github/workflows/ @task-manager/devops-team

# Container configurations
**/Dockerfile @task-manager/devops-team

# Database migrations and schemas
/src/backend/**/db/migration/ @task-manager/backend-team
/src/backend/**/resources/db/ @task-manager/backend-team

# API Gateway configurations
/src/backend/api-gateway/ @task-manager/backend-team @task-manager/security-team

# Configuration files
*.yml @task-manager/devops-team
*.yaml @task-manager/devops-team
*.config.* @task-manager/devops-team

# Security configuration files
**/security.* @task-manager/security-team
**/auth.* @task-manager/security-team
**/jwt.* @task-manager/security-team

# Documentation
/docs/ @task-manager/backend-team @task-manager/frontend-team
*.md @task-manager/backend-team @task-manager/frontend-team

# Package dependencies
package.json @task-manager/devops-team
package-lock.json @task-manager/devops-team
pom.xml @task-manager/devops-team

# Environment configurations
.env* @task-manager/devops-team @task-manager/security-team
**/application.yml @task-manager/devops-team @task-manager/security-team
**/application.properties @task-manager/devops-team @task-manager/security-team

# Test configurations and implementations
/src/test/ @task-manager/backend-team @task-manager/frontend-team
**/*.test.* @task-manager/backend-team @task-manager/frontend-team
**/*.spec.* @task-manager/backend-team @task-manager/frontend-team

# Build and deployment scripts
/scripts/ @task-manager/devops-team
*.sh @task-manager/devops-team
*.bash @task-manager/devops-team

# Secrets and sensitive configurations
**/secrets.* @task-manager/security-team
**/credentials.* @task-manager/security-team
