Repository vaibhav-blitzy/pro-project-2-0ak6n0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @task-manager/backend-team, @task-manager/frontend-team, @task-manager/security-team, @task-manager/devops-team

.github/CODEOWNERS:

# Task Management System CODEOWNERS file
# Defines code ownership and required review patterns with enhanced security controls
# Version: 1.0.0

# Default owners for everything in the repo
# Requires at least 2 reviewers for any changes
* @task-manager/backend-team @task-manager/frontend-team

# Backend service implementations
/src/backend/ @task-manager/backend-team
/src/backend/shared/ @task-manager/backend-team

# Authentication service requires both backend and security team review
/src/backend/auth-service/ @task-manager/backend-team @task-manager/security-team

# Frontend React application
/src/web/ @task-manager/frontend-team
/src/web/src/components/ @task-manager/frontend-team

# Infrastructure and deployment configurations
/infrastructure/ @task-manager/devops-team
/infrastructure/security/ @task-manager/devops-team @task-manager/security-team
/src/backend/k8s/ @task-manager/devops-team

# Security-related configurations and tests
/src/test/security/ @task-manager/security-team
/infrastructure/security/waf/ @task-manager/security-team
/infrastructure/security/network-policies/ @task-manager/security-team

# CI/CD workflow configurations
/.github/workflows/ @task-manager/devops-team

# Container configurations
**/Dockerfile @task-manager/devops-team

# Database migrations and schemas
/src/backend/**/db/migration/ @task-manager/backend-team
/src/backend/**/resources/db/ @task-manager/backend-team

# API Gateway configurations
/src/backend/api-gateway/ @task-manager/backend-team @task-manager/security-team

# Configuration files
*.yml @task-manager/devops-team
*.yaml @task-manager/devops-team
*.config.* @task-manager/devops-team

# Security configuration files
**/security.* @task-manager/security-team
**/auth.* @task-manager/security-team
**/jwt.* @task-manager/security-team

# Documentation
/docs/ @task-manager/backend-team @task-manager/frontend-team
*.md @task-manager/backend-team @task-manager/frontend-team

# Package dependencies
package.json @task-manager/devops-team
package-lock.json @task-manager/devops-team
pom.xml @task-manager/devops-team

# Environment configurations
.env* @task-manager/devops-team @task-manager/security-team
**/application.yml @task-manager/devops-team @task-manager/security-team
**/application.properties @task-manager/devops-team @task-manager/security-team

# Test configurations and implementations
/src/test/ @task-manager/backend-team @task-manager/frontend-team
**/*.test.* @task-manager/backend-team @task-manager/frontend-team
**/*.spec.* @task-manager/backend-team @task-manager/frontend-team

# Build and deployment scripts
/scripts/ @task-manager/devops-team
*.sh @task-manager/devops-team
*.bash @task-manager/devops-team

# Secrets and sensitive configurations
**/secrets.* @task-manager/security-team
**/credentials.* @task-manager/security-team

Add public-samples/pro-project-2-0ak6n0/src/web/index.html
  src/web/index.html
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/package.json
  src/web/package.json
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/src/web/public/robots.txt
  src/web/public/robots.txt
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/public/site.webmanifest
  src/web/public/site.webmanifest
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/public/assets/fonts
  src/web/public/assets/fonts
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/public/assets/icons
  src/web/public/assets/icons
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/public/assets/images
  src/web/public/assets/images
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/src/index.tsx
  src/web/src/index.tsx
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/src/api/auth.api.ts
  src/web/src/api/auth.api.ts
Owners: @task-manager/security-team

Add public-samples/pro-project-2-0ak6n0/src/web/src/api/notifications.api.ts
  src/web/src/api/notifications.api.ts
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/src/api/projects.api.ts
  src/web/src/api/projects.api.ts
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/src/api/search.api.ts
  src/web/src/api/search.api.ts
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/src/api/tasks.api.ts
  src/web/src/api/tasks.api.ts
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/src/api/websocket.api.ts
  src/web/src/api/websocket.api.ts
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/src/assets/fonts/inter-var.woff2
  src/web/src/assets/fonts/inter-var.woff2
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/src/assets/icons/favicon.ico
  src/web/src/assets/icons/favicon.ico
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/src/assets/icons/logo.svg
  src/web/src/assets/icons/logo.svg
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/src/assets/images/placeholder.svg
  src/web/src/assets/images/placeholder.svg
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/src/components/auth/LoginForm.tsx
  src/web/src/components/auth/LoginForm.tsx
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/src/components/auth/RegisterForm.tsx
  src/web/src/components/auth/RegisterForm.tsx
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/src/components/auth/ResetPasswordForm.tsx
  src/web/src/components/auth/ResetPasswordForm.tsx
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/src/components/common/Avatar.tsx
  src/web/src/components/common/Avatar.tsx
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/src/components/common/Badge.tsx
  src/web/src/components/common/Badge.tsx
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/src/components/common/Button.tsx
  src/web/src/components/common/Button.tsx
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/src/components/common/Card.tsx
  src/web/src/components/common/Card.tsx
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/src/components/common/Checkbox.tsx
  src/web/src/components/common/Checkbox.tsx
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/src/components/common/DatePicker.tsx
  src/web/src/components/common/DatePicker.tsx
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/src/components/common/Dropdown.tsx
  src/web/src/components/common/Dropdown.tsx
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/src/components/common/ErrorBoundary.tsx
  src/web/src/components/common/ErrorBoundary.tsx
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/src/components/common/FileUpload.tsx
  src/web/src/components/common/FileUpload.tsx
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/src/components/common/Icon.tsx
  src/web/src/components/common/Icon.tsx
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/src/components/common/Input.tsx
  src/web/src/components/common/Input.tsx
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/src/components/common/LoadingSpinner.tsx
  src/web/src/components/common/LoadingSpinner.tsx
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/src/components/common/Modal.tsx
  src/web/src/components/common/Modal.tsx
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/src/components/common/Pagination.tsx
  src/web/src/components/common/Pagination.tsx
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/src/components/common/ProgressBar.tsx
  src/web/src/components/common/ProgressBar.tsx
Owners: @task-manager/frontend-team
