Repository vaibhav-blitzy/pro-project-2-0ak6n0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @task-manager/backend-team, @task-manager/frontend-team, @task-manager/security-team, @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/terraform/modules/networking/outputs.tf
  infrastructure/terraform/modules/networking/outputs.tf
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/terraform/modules/networking/variables.tf
  infrastructure/terraform/modules/networking/variables.tf
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/.env.example
  src/backend/.env.example
Owners: @task-manager/devops-team, @task-manager/security-team

Add public-samples/pro-project-2-0ak6n0/src/backend/README.md
  src/backend/README.md
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/src/backend/package.json
  src/backend/package.json
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/api-gateway/Dockerfile
  src/backend/api-gateway/Dockerfile
Owners: @task-manager/backend-team, @task-manager/security-team

Add public-samples/pro-project-2-0ak6n0/src/backend/api-gateway/package.json
  src/backend/api-gateway/package.json
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/src/backend/api-gateway/tsconfig.json
  src/backend/api-gateway/tsconfig.json
Owners: @task-manager/backend-team, @task-manager/security-team

Add public-samples/pro-project-2-0ak6n0/src/backend/api-gateway/src/app.ts
  src/backend/api-gateway/src/app.ts
Owners: @task-manager/backend-team, @task-manager/security-team

Add public-samples/pro-project-2-0ak6n0/src/backend/api-gateway/src/config/kong.config.ts
  src/backend/api-gateway/src/config/kong.config.ts
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/src/backend/api-gateway/src/config/rate-limiting.ts
  src/backend/api-gateway/src/config/rate-limiting.ts
Owners: @task-manager/backend-team, @task-manager/security-team

Add public-samples/pro-project-2-0ak6n0/src/backend/api-gateway/src/middleware/auth.middleware.ts
  src/backend/api-gateway/src/middleware/auth.middleware.ts
Owners: @task-manager/security-team

Add public-samples/pro-project-2-0ak6n0/src/backend/api-gateway/src/middleware/cors.middleware.ts
  src/backend/api-gateway/src/middleware/cors.middleware.ts
Owners: @task-manager/backend-team, @task-manager/security-team

Add public-samples/pro-project-2-0ak6n0/src/backend/api-gateway/src/middleware/logging.middleware.ts
  src/backend/api-gateway/src/middleware/logging.middleware.ts
Owners: @task-manager/backend-team, @task-manager/security-team

Add public-samples/pro-project-2-0ak6n0/src/backend/api-gateway/src/routes/index.ts
  src/backend/api-gateway/src/routes/index.ts
Owners: @task-manager/backend-team, @task-manager/security-team

Add public-samples/pro-project-2-0ak6n0/src/backend/api-gateway/src/utils/error-handler.ts
  src/backend/api-gateway/src/utils/error-handler.ts
Owners: @task-manager/backend-team, @task-manager/security-team

Add public-samples/pro-project-2-0ak6n0/src/backend/auth-service/Dockerfile
  src/backend/auth-service/Dockerfile
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/src/backend/auth-service/package.json
  src/backend/auth-service/package.json
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/src/backend/auth-service/tsconfig.json
  src/backend/auth-service/tsconfig.json
Owners: @task-manager/backend-team, @task-manager/security-team

Add public-samples/pro-project-2-0ak6n0/src/backend/auth-service/src/app.ts
  src/backend/auth-service/src/app.ts
Owners: @task-manager/backend-team, @task-manager/security-team

Add public-samples/pro-project-2-0ak6n0/src/backend/auth-service/src/config/auth.config.ts
  src/backend/auth-service/src/config/auth.config.ts
Owners: @task-manager/security-team

Add public-samples/pro-project-2-0ak6n0/src/backend/auth-service/src/config/jwt.config.ts
  src/backend/auth-service/src/config/jwt.config.ts
Owners: @task-manager/security-team

Add public-samples/pro-project-2-0ak6n0/src/backend/auth-service/src/controllers/auth.controller.ts
  src/backend/auth-service/src/controllers/auth.controller.ts
Owners: @task-manager/security-team

Add public-samples/pro-project-2-0ak6n0/src/backend/auth-service/src/interfaces/auth.interface.ts
  src/backend/auth-service/src/interfaces/auth.interface.ts
Owners: @task-manager/security-team

Add public-samples/pro-project-2-0ak6n0/src/backend/auth-service/src/middleware/jwt.middleware.ts
  src/backend/auth-service/src/middleware/jwt.middleware.ts
Owners: @task-manager/security-team

Add public-samples/pro-project-2-0ak6n0/src/backend/auth-service/src/models/user.model.ts
  src/backend/auth-service/src/models/user.model.ts
Owners: @task-manager/backend-team, @task-manager/security-team

Add public-samples/pro-project-2-0ak6n0/src/backend/auth-service/src/routes/auth.routes.ts
  src/backend/auth-service/src/routes/auth.routes.ts
Owners: @task-manager/security-team

Add public-samples/pro-project-2-0ak6n0/src/backend/auth-service/src/services/auth.service.ts
  src/backend/auth-service/src/services/auth.service.ts
Owners: @task-manager/security-team

Add public-samples/pro-project-2-0ak6n0/src/backend/auth-service/src/utils/password.util.ts
  src/backend/auth-service/src/utils/password.util.ts
Owners: @task-manager/backend-team, @task-manager/security-team

Add public-samples/pro-project-2-0ak6n0/src/backend/k8s/api-gateway-deployment.yml
  src/backend/k8s/api-gateway-deployment.yml
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/src/backend/k8s/auth-service-deployment.yml
  src/backend/k8s/auth-service-deployment.yml
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/src/backend/k8s/configmap.yml
  src/backend/k8s/configmap.yml
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/src/backend/k8s/ingress.yml
  src/backend/k8s/ingress.yml
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/src/backend/k8s/notification-service-deployment.yml
  src/backend/k8s/notification-service-deployment.yml
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/src/backend/k8s/project-service-deployment.yml
  src/backend/k8s/project-service-deployment.yml
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/src/backend/k8s/search-service-deployment.yml
  src/backend/k8s/search-service-deployment.yml
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/src/backend/k8s/secrets.yml
  src/backend/k8s/secrets.yml
Owners: @task-manager/security-team

.github/CODEOWNERS:

# Task Management System CODEOWNERS file
# Defines code ownership and required review patterns with enhanced security controls
# Version: 1.0.0

# Default owners for everything in the repo
# Requires at least 2 reviewers for any changes
* @task-manager/backend-team @task-manager/frontend-team

# Backend service implementations
/src/backend/ @task-manager/backend-team
/src/backend/shared/ @task-manager/backend-team

# Authentication service requires both backend and security team review
/src/backend/auth-service/ @task-manager/backend-team @task-manager/security-team

# Frontend React application
/src/web/ @task-manager/frontend-team
/src/web/src/components/ @task-manager/frontend-team

# Infrastructure and deployment configurations
/infrastructure/ @task-manager/devops-team
/infrastructure/security/ @task-manager/devops-team @task-manager/security-team
/src/backend/k8s/ @task-manager/devops-team

# Security-related configurations and tests
/src/test/security/ @task-manager/security-team
/infrastructure/security/waf/ @task-manager/security-team
/infrastructure/security/network-policies/ @task-manager/security-team

# CI/CD workflow configurations
/.github/workflows/ @task-manager/devops-team

# Container configurations
**/Dockerfile @task-manager/devops-team

# Database migrations and schemas
/src/backend/**/db/migration/ @task-manager/backend-team
/src/backend/**/resources/db/ @task-manager/backend-team

# API Gateway configurations
/src/backend/api-gateway/ @task-manager/backend-team @task-manager/security-team

# Configuration files
*.yml @task-manager/devops-team
*.yaml @task-manager/devops-team
*.config.* @task-manager/devops-team

# Security configuration files
**/security.* @task-manager/security-team
**/auth.* @task-manager/security-team
**/jwt.* @task-manager/security-team

# Documentation
/docs/ @task-manager/backend-team @task-manager/frontend-team
*.md @task-manager/backend-team @task-manager/frontend-team

# Package dependencies
package.json @task-manager/devops-team
package-lock.json @task-manager/devops-team
pom.xml @task-manager/devops-team

# Environment configurations
.env* @task-manager/devops-team @task-manager/security-team
**/application.yml @task-manager/devops-team @task-manager/security-team
**/application.properties @task-manager/devops-team @task-manager/security-team

# Test configurations and implementations
/src/test/ @task-manager/backend-team @task-manager/frontend-team
**/*.test.* @task-manager/backend-team @task-manager/frontend-team
**/*.spec.* @task-manager/backend-team @task-manager/frontend-team

# Build and deployment scripts
/scripts/ @task-manager/devops-team
*.sh @task-manager/devops-team
*.bash @task-manager/devops-team

# Secrets and sensitive configurations
**/secrets.* @task-manager/security-team
**/credentials.* @task-manager/security-team
