Repository vaibhav-blitzy/pro-project-2-0ak6n0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @task-manager/backend-team, @task-manager/frontend-team, @task-manager/security-team, @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/monitoring/grafana/dashboards/api-gateway.json
  infrastructure/monitoring/grafana/dashboards/api-gateway.json
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/monitoring/grafana/dashboards/auth-service.json
  infrastructure/monitoring/grafana/dashboards/auth-service.json
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/monitoring/grafana/dashboards/notification-service.json
  infrastructure/monitoring/grafana/dashboards/notification-service.json
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/monitoring/grafana/dashboards/project-service.json
  infrastructure/monitoring/grafana/dashboards/project-service.json
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/monitoring/grafana/dashboards/search-service.json
  infrastructure/monitoring/grafana/dashboards/search-service.json
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/monitoring/grafana/dashboards/system-metrics.json
  infrastructure/monitoring/grafana/dashboards/system-metrics.json
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/monitoring/grafana/dashboards/task-service.json
  infrastructure/monitoring/grafana/dashboards/task-service.json
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/monitoring/jaeger/jaeger.yml
  infrastructure/monitoring/jaeger/jaeger.yml
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/monitoring/kibana/kibana.yml
  infrastructure/monitoring/kibana/kibana.yml
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/monitoring/prometheus/prometheus.yml
  infrastructure/monitoring/prometheus/prometheus.yml
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/monitoring/prometheus/rules/alerts.yml
  infrastructure/monitoring/prometheus/rules/alerts.yml
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/monitoring/prometheus/rules/recording.yml
  infrastructure/monitoring/prometheus/rules/recording.yml
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/scripts/backup-database.sh
  infrastructure/scripts/backup-database.sh
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/scripts/init-vault.sh
  infrastructure/scripts/init-vault.sh
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/scripts/rotate-secrets.sh
  infrastructure/scripts/rotate-secrets.sh
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/scripts/setup-monitoring.sh
  infrastructure/scripts/setup-monitoring.sh
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/security/cert-manager/cluster-issuer.yaml
  infrastructure/security/cert-manager/cluster-issuer.yaml
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/security/network-policies/default.yaml
  infrastructure/security/network-policies/default.yaml
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/security/vault/config.hcl
  infrastructure/security/vault/config.hcl
Owners: @task-manager/devops-team, @task-manager/security-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/security/waf/rules.conf
  infrastructure/security/waf/rules.conf
Owners: @task-manager/security-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/terraform/environments/dev/main.tf
  infrastructure/terraform/environments/dev/main.tf
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/terraform/environments/dr/main.tf
  infrastructure/terraform/environments/dr/main.tf
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/environments/prod/main.tf
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/terraform/modules/database/main.tf
  infrastructure/terraform/modules/database/main.tf
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/terraform/modules/database/outputs.tf
  infrastructure/terraform/modules/database/outputs.tf
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/terraform/modules/database/variables.tf
  infrastructure/terraform/modules/database/variables.tf
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/terraform/modules/kubernetes/main.tf
  infrastructure/terraform/modules/kubernetes/main.tf
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/terraform/modules/kubernetes/outputs.tf
  infrastructure/terraform/modules/kubernetes/outputs.tf
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/terraform/modules/kubernetes/variables.tf
  infrastructure/terraform/modules/kubernetes/variables.tf
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/terraform/modules/monitoring/main.tf
  infrastructure/terraform/modules/monitoring/main.tf
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/terraform/modules/monitoring/outputs.tf
  infrastructure/terraform/modules/monitoring/outputs.tf
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/terraform/modules/monitoring/variables.tf
  infrastructure/terraform/modules/monitoring/variables.tf
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/infrastructure/terraform/modules/networking/main.tf
  infrastructure/terraform/modules/networking/main.tf
Owners: @task-manager/devops-team

.github/CODEOWNERS:

# Task Management System CODEOWNERS file
# Defines code ownership and required review patterns with enhanced security controls
# Version: 1.0.0

# Default owners for everything in the repo
# Requires at least 2 reviewers for any changes
* @task-manager/backend-team @task-manager/frontend-team

# Backend service implementations
/src/backend/ @task-manager/backend-team
/src/backend/shared/ @task-manager/backend-team

# Authentication service requires both backend and security team review
/src/backend/auth-service/ @task-manager/backend-team @task-manager/security-team

# Frontend React application
/src/web/ @task-manager/frontend-team
/src/web/src/components/ @task-manager/frontend-team

# Infrastructure and deployment configurations
/infrastructure/ @task-manager/devops-team
/infrastructure/security/ @task-manager/devops-team @task-manager/security-team
/src/backend/k8s/ @task-manager/devops-team

# Security-related configurations and tests
/src/test/security/ @task-manager/security-team
/infrastructure/security/waf/ @task-manager/security-team
/infrastructure/security/network-policies/ @task-manager/security-team

# CI/CD workflow configurations
/.github/workflows/ @task-manager/devops-team

# Container configurations
**/Dockerfile @task-manager/devops-team

# Database migrations and schemas
/src/backend/**/db/migration/ @task-manager/backend-team
/src/backend/**/resources/db/ @task-manager/backend-team

# API Gateway configurations
/src/backend/api-gateway/ @task-manager/backend-team @task-manager/security-team

# Configuration files
*.yml @task-manager/devops-team
*.yaml @task-manager/devops-team
*.config.* @task-manager/devops-team

# Security configuration files
**/security.* @task-manager/security-team
**/auth.* @task-manager/security-team
**/jwt.* @task-manager/security-team

# Documentation
/docs/ @task-manager/backend-team @task-manager/frontend-team
*.md @task-manager/backend-team @task-manager/frontend-team

# Package dependencies
package.json @task-manager/devops-team
package-lock.json @task-manager/devops-team
pom.xml @task-manager/devops-team

# Environment configurations
.env* @task-manager/devops-team @task-manager/security-team
**/application.yml @task-manager/devops-team @task-manager/security-team
**/application.properties @task-manager/devops-team @task-manager/security-team

# Test configurations and implementations
/src/test/ @task-manager/backend-team @task-manager/frontend-team
**/*.test.* @task-manager/backend-team @task-manager/frontend-team
**/*.spec.* @task-manager/backend-team @task-manager/frontend-team

# Build and deployment scripts
/scripts/ @task-manager/devops-team
*.sh @task-manager/devops-team
*.bash @task-manager/devops-team

# Secrets and sensitive configurations
**/secrets.* @task-manager/security-team
**/credentials.* @task-manager/security-team
