Repository vaibhav-blitzy/pro-project-2-0ak6n0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @task-manager/backend-team, @task-manager/frontend-team, @task-manager/security-team, @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/src/test/integration/message-queue.test.ts
  src/test/integration/message-queue.test.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/integration/notification-service.test.ts
  src/test/integration/notification-service.test.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/integration/project-service.test.ts
  src/test/integration/project-service.test.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/integration/search-service.test.ts
  src/test/integration/search-service.test.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/integration/task-service.test.ts
  src/test/integration/task-service.test.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/integration/websocket.test.ts
  src/test/integration/websocket.test.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/load/data/projects.json
  src/test/load/data/projects.json
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/load/data/tasks.json
  src/test/load/data/tasks.json
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/load/data/users.json
  src/test/load/data/users.json
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/load/scenarios/concurrent-users.js
  src/test/load/scenarios/concurrent-users.js
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/load/scenarios/project-operations.js
  src/test/load/scenarios/project-operations.js
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/load/scenarios/search-queries.js
  src/test/load/scenarios/search-queries.js
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/load/scenarios/task-creation.js
  src/test/load/scenarios/task-creation.js
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/performance/api-response.test.ts
  src/test/performance/api-response.test.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/performance/page-load.test.ts
  src/test/performance/page-load.test.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/performance/search-latency.test.ts
  src/test/performance/search-latency.test.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/performance/websocket-latency.test.ts
  src/test/performance/websocket-latency.test.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/scripts/cleanup-test-data.sh
  src/test/scripts/cleanup-test-data.sh
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/src/test/scripts/generate-test-report.sh
  src/test/scripts/generate-test-report.sh
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/src/test/scripts/run-all-tests.sh
  src/test/scripts/run-all-tests.sh
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/src/test/scripts/setup-test-env.sh
  src/test/scripts/setup-test-env.sh
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/src/test/security/api-security.test.ts
  src/test/security/api-security.test.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/security/auth-vulnerabilities.test.ts
  src/test/security/auth-vulnerabilities.test.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/security/csrf.test.ts
  src/test/security/csrf.test.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/security/rate-limiting.test.ts
  src/test/security/rate-limiting.test.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/security/sql-injection.test.ts
  src/test/security/sql-injection.test.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/security/xss.test.ts
  src/test/security/xss.test.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/utils/api-client.ts
  src/test/utils/api-client.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/utils/mock-data.ts
  src/test/utils/mock-data.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/utils/performance-metrics.ts
  src/test/utils/performance-metrics.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/utils/security-helpers.ts
  src/test/utils/security-helpers.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/utils/test-cache.ts
  src/test/utils/test-cache.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/utils/test-database.ts
  src/test/utils/test-database.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/utils/test-helpers.ts
  src/test/utils/test-helpers.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/test/utils/websocket-client.ts
  src/test/utils/websocket-client.ts
Owners: @task-manager/backend-team, @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/.env.development
  src/web/.env.development
Owners: @task-manager/devops-team, @task-manager/security-team

Add public-samples/pro-project-2-0ak6n0/src/web/.env.production
  src/web/.env.production
Owners: @task-manager/devops-team, @task-manager/security-team

Add public-samples/pro-project-2-0ak6n0/src/web/.eslintrc.ts
  src/web/.eslintrc.ts
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/.prettierrc
  src/web/.prettierrc
Owners: @task-manager/frontend-team

Add public-samples/pro-project-2-0ak6n0/src/web/README.md
  src/web/README.md
Owners: @task-manager/backend-team, @task-manager/frontend-team

.github/CODEOWNERS:

# Task Management System CODEOWNERS file
# Defines code ownership and required review patterns with enhanced security controls
# Version: 1.0.0

# Default owners for everything in the repo
# Requires at least 2 reviewers for any changes
* @task-manager/backend-team @task-manager/frontend-team

# Backend service implementations
/src/backend/ @task-manager/backend-team
/src/backend/shared/ @task-manager/backend-team

# Authentication service requires both backend and security team review
/src/backend/auth-service/ @task-manager/backend-team @task-manager/security-team

# Frontend React application
/src/web/ @task-manager/frontend-team
/src/web/src/components/ @task-manager/frontend-team

# Infrastructure and deployment configurations
/infrastructure/ @task-manager/devops-team
/infrastructure/security/ @task-manager/devops-team @task-manager/security-team
/src/backend/k8s/ @task-manager/devops-team

# Security-related configurations and tests
/src/test/security/ @task-manager/security-team
/infrastructure/security/waf/ @task-manager/security-team
/infrastructure/security/network-policies/ @task-manager/security-team

# CI/CD workflow configurations
/.github/workflows/ @task-manager/devops-team

# Container configurations
**/Dockerfile @task-manager/devops-team

# Database migrations and schemas
/src/backend/**/db/migration/ @task-manager/backend-team
/src/backend/**/resources/db/ @task-manager/backend-team

# API Gateway configurations
/src/backend/api-gateway/ @task-manager/backend-team @task-manager/security-team

# Configuration files
*.yml @task-manager/devops-team
*.yaml @task-manager/devops-team
*.config.* @task-manager/devops-team

# Security configuration files
**/security.* @task-manager/security-team
**/auth.* @task-manager/security-team
**/jwt.* @task-manager/security-team

# Documentation
/docs/ @task-manager/backend-team @task-manager/frontend-team
*.md @task-manager/backend-team @task-manager/frontend-team

# Package dependencies
package.json @task-manager/devops-team
package-lock.json @task-manager/devops-team
pom.xml @task-manager/devops-team

# Environment configurations
.env* @task-manager/devops-team @task-manager/security-team
**/application.yml @task-manager/devops-team @task-manager/security-team
**/application.properties @task-manager/devops-team @task-manager/security-team

# Test configurations and implementations
/src/test/ @task-manager/backend-team @task-manager/frontend-team
**/*.test.* @task-manager/backend-team @task-manager/frontend-team
**/*.spec.* @task-manager/backend-team @task-manager/frontend-team

# Build and deployment scripts
/scripts/ @task-manager/devops-team
*.sh @task-manager/devops-team
*.bash @task-manager/devops-team

# Secrets and sensitive configurations
**/secrets.* @task-manager/security-team
**/credentials.* @task-manager/security-team
