Repository vaibhav-blitzy/pro-project-2-0ak6n0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @task-manager/backend-team, @task-manager/frontend-team, @task-manager/security-team, @task-manager/devops-team

.github/CODEOWNERS:

# Task Management System CODEOWNERS file
# Defines code ownership and required review patterns with enhanced security controls
# Version: 1.0.0

# Default owners for everything in the repo
# Requires at least 2 reviewers for any changes
* @task-manager/backend-team @task-manager/frontend-team

# Backend service implementations
/src/backend/ @task-manager/backend-team
/src/backend/shared/ @task-manager/backend-team

# Authentication service requires both backend and security team review
/src/backend/auth-service/ @task-manager/backend-team @task-manager/security-team

# Frontend React application
/src/web/ @task-manager/frontend-team
/src/web/src/components/ @task-manager/frontend-team

# Infrastructure and deployment configurations
/infrastructure/ @task-manager/devops-team
/infrastructure/security/ @task-manager/devops-team @task-manager/security-team
/src/backend/k8s/ @task-manager/devops-team

# Security-related configurations and tests
/src/test/security/ @task-manager/security-team
/infrastructure/security/waf/ @task-manager/security-team
/infrastructure/security/network-policies/ @task-manager/security-team

# CI/CD workflow configurations
/.github/workflows/ @task-manager/devops-team

# Container configurations
**/Dockerfile @task-manager/devops-team

# Database migrations and schemas
/src/backend/**/db/migration/ @task-manager/backend-team
/src/backend/**/resources/db/ @task-manager/backend-team

# API Gateway configurations
/src/backend/api-gateway/ @task-manager/backend-team @task-manager/security-team

# Configuration files
*.yml @task-manager/devops-team
*.yaml @task-manager/devops-team
*.config.* @task-manager/devops-team

# Security configuration files
**/security.* @task-manager/security-team
**/auth.* @task-manager/security-team
**/jwt.* @task-manager/security-team

# Documentation
/docs/ @task-manager/backend-team @task-manager/frontend-team
*.md @task-manager/backend-team @task-manager/frontend-team

# Package dependencies
package.json @task-manager/devops-team
package-lock.json @task-manager/devops-team
pom.xml @task-manager/devops-team

# Environment configurations
.env* @task-manager/devops-team @task-manager/security-team
**/application.yml @task-manager/devops-team @task-manager/security-team
**/application.properties @task-manager/devops-team @task-manager/security-team

# Test configurations and implementations
/src/test/ @task-manager/backend-team @task-manager/frontend-team
**/*.test.* @task-manager/backend-team @task-manager/frontend-team
**/*.spec.* @task-manager/backend-team @task-manager/frontend-team

# Build and deployment scripts
/scripts/ @task-manager/devops-team
*.sh @task-manager/devops-team
*.bash @task-manager/devops-team

# Secrets and sensitive configurations
**/secrets.* @task-manager/security-team
**/credentials.* @task-manager/security-team

Add public-samples/pro-project-2-0ak6n0/src/backend/k8s/task-service-deployment.yml
  src/backend/k8s/task-service-deployment.yml
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/src/backend/notification-service/Dockerfile
  src/backend/notification-service/Dockerfile
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/src/backend/notification-service/package.json
  src/backend/notification-service/package.json
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/src/backend/notification-service/tsconfig.json
  src/backend/notification-service/tsconfig.json
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/notification-service/src/app.ts
  src/backend/notification-service/src/app.ts
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/notification-service/src/config/email.config.ts
  src/backend/notification-service/src/config/email.config.ts
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/src/backend/notification-service/src/config/rabbitmq.config.ts
  src/backend/notification-service/src/config/rabbitmq.config.ts
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/src/backend/notification-service/src/controllers/notification.controller.ts
  src/backend/notification-service/src/controllers/notification.controller.ts
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/notification-service/src/interfaces/notification.interface.ts
  src/backend/notification-service/src/interfaces/notification.interface.ts
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/notification-service/src/services/email.service.ts
  src/backend/notification-service/src/services/email.service.ts
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/notification-service/src/services/notification.service.ts
  src/backend/notification-service/src/services/notification.service.ts
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/notification-service/src/services/websocket.service.ts
  src/backend/notification-service/src/services/websocket.service.ts
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/project-service/Dockerfile
  src/backend/project-service/Dockerfile
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/src/backend/project-service/pom.xml
  src/backend/project-service/pom.xml
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/src/backend/project-service/src/main/java/com/taskmanager/project/ProjectApplication.java
  src/backend/project-service/src/main/java/com/taskmanager/project/ProjectApplication.java
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/project-service/src/main/java/com/taskmanager/project/config/WebSocketConfig.java
  src/backend/project-service/src/main/java/com/taskmanager/project/config/WebSocketConfig.java
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/project-service/src/main/java/com/taskmanager/project/controllers/ProjectController.java
  src/backend/project-service/src/main/java/com/taskmanager/project/controllers/ProjectController.java
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/project-service/src/main/java/com/taskmanager/project/dto/ProjectDTO.java
  src/backend/project-service/src/main/java/com/taskmanager/project/dto/ProjectDTO.java
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/project-service/src/main/java/com/taskmanager/project/entities/Project.java
  src/backend/project-service/src/main/java/com/taskmanager/project/entities/Project.java
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/project-service/src/main/java/com/taskmanager/project/repositories/ProjectRepository.java
  src/backend/project-service/src/main/java/com/taskmanager/project/repositories/ProjectRepository.java
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/project-service/src/main/java/com/taskmanager/project/services/ProjectService.java
  src/backend/project-service/src/main/java/com/taskmanager/project/services/ProjectService.java
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/project-service/src/main/resources/application.yml
  src/backend/project-service/src/main/resources/application.yml
Owners: @task-manager/devops-team, @task-manager/security-team

Add public-samples/pro-project-2-0ak6n0/src/backend/project-service/src/main/resources/db/migration/V1__init.sql
  src/backend/project-service/src/main/resources/db/migration/V1__init.sql
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/search-service/Dockerfile
  src/backend/search-service/Dockerfile
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/src/backend/search-service/package.json
  src/backend/search-service/package.json
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/src/backend/search-service/tsconfig.json
  src/backend/search-service/tsconfig.json
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/search-service/src/app.ts
  src/backend/search-service/src/app.ts
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/search-service/src/config/elasticsearch.config.ts
  src/backend/search-service/src/config/elasticsearch.config.ts
Owners: @task-manager/devops-team

Add public-samples/pro-project-2-0ak6n0/src/backend/search-service/src/controllers/search.controller.ts
  src/backend/search-service/src/controllers/search.controller.ts
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/search-service/src/interfaces/search.interface.ts
  src/backend/search-service/src/interfaces/search.interface.ts
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/search-service/src/services/search.service.ts
  src/backend/search-service/src/services/search.service.ts
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/search-service/src/utils/index-builder.ts
  src/backend/search-service/src/utils/index-builder.ts
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/shared/constants/index.ts
  src/backend/shared/constants/index.ts
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/shared/interfaces/base.interface.ts
  src/backend/shared/interfaces/base.interface.ts
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/shared/middleware/error.middleware.ts
  src/backend/shared/middleware/error.middleware.ts
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/shared/middleware/validation.middleware.ts
  src/backend/shared/middleware/validation.middleware.ts
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/shared/utils/logger.ts
  src/backend/shared/utils/logger.ts
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/shared/utils/metrics.ts
  src/backend/shared/utils/metrics.ts
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/shared/utils/validation.ts
  src/backend/shared/utils/validation.ts
Owners: @task-manager/backend-team

Add public-samples/pro-project-2-0ak6n0/src/backend/task-service/Dockerfile
  src/backend/task-service/Dockerfile
Owners: @task-manager/devops-team
